@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.FirstPart{
    background-color: rgb(144 165 138);
    height:  950px;
    width: 100%;

}

.Main{
    width: 470px;
    height: 325px;
}

.titlu{
    font-size: 30px; 
    padding: 10px 0px;

}

.descriere{
    padding-bottom: 10px 0px;
    font-size: 16px; 

}

.discount{
    color: red;
    font-size: 35px;
    text-shadow: 1px 3px 4px;
}



.carousel-inner{
    background: rgb(255, 255, 255);
    height : 269px;
    width: 770px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.InfoPart{
    margin-top: 150px;
    padding: 70px;
}

.OurTeam{
    margin-top: 20px;
    background-color: rgb(219 226 218);
    padding: 40px 70px;
}

.footer{
    padding: 70px;
}

.footerHead{
    padding: 20px;
}

.strada{
    margin-bottom: 20px;
}

.telefon{
    margin-bottom: 20px;
}

/* Servicii */

.mainServicii{
    background-color: rgb(144 165 138);
    height:  950px;
}

.list-group{
    background-color: white;
    overflow-y: auto;
    height: 600px;
}

.cardTitle{
    background-color: #DBE2DA;
    width: 75vh;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    
}


.cardTitle2{
    background-color: white;
    width: 75vh;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;


}

.mainProgramare {
    height: 950px;
    background-color: rgb(144 165 138);
}

.list-group > a{ 
    background-color: #DBE2DA;
}

.list-group{ 
    background-color: #DBE2DA;
}

.form-floating > .bi-calendar-date + .datepicker_input + label {
    padding-left: 3.5rem;
    z-index: 3;
  }

  .price{

    color: #90A58A;
    font-size: 20px;
    text-shadow: 1px 3px 4px;
}

/* Contacteaza-ne */
.info{
    padding: 15px;
}

.footerContacte{
    margin-top: 30px;
    background-color: #90A58A;
}


/* Noutati */
.card-img-top{
    object-fit: cover; 
    width: 100%;
    height: 18vw;
}

.card-img-top2{
    object-fit: cover; 
    width: 100%;
    height: 25vw;
}

.mainNouatate{
    background-color: #90A58A;
}

.infoServicii{
    height: 13rem;
    overflow-y: auto;
    font-size: 14px;
}