@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.FirstPart{
    background-color: rgb(144 165 138);
    height:  980px;
    width: 1442;

}

.Main{
    width: 470px;
    height: 325px;
}

.titlu{
    font-size: 30px; 
    padding: 10px 0px;

}

.descriere{
    padding-bottom: 10px 0px;
    font-size: 16px; 

}